body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin: 0 auto !important;
  text-align: center !important;
}

.btn {
  color: white !important;
  padding: .5rem 1.5rem;
  height: 40px;
  width: 155px !important;
  min-width: 110px !important
}

.btn:hover{
  background: #1565C0 !important
}

.btn > i {
  margin-right: 3px;
}

@media screen and (max-width: 800px) {
  .toolbar {
    width: 80% !important;
  }
  .title {
    text-align: left !important;
    margin: auto !important;
  }


}

@media screen and (max-width: 500px) {
  .stack-mbl {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content:center;
  }
}